@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

$fontFamily: "Poppins", sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$boldest: 900;

$root-font-size: 13px;
$root-font-size-md: 12px;
$fontSizePrimary: 1rem;
$fontSizeSmallest: 0.5rem;
$fontSizeSmall: 0.8rem;
$fontSizeSemiMedium: 1.5rem;
$fontSizeMedium: 2rem;
$fontSizeExtraMedium: 2.5rem;
$fontSizeSemiLarge: 3rem;
$fontSizeLarge: 3.5rem;
$fontSizeExtraLarge: 4rem;
