.admin {
    div.header {
        nav {
            color: $primaryLight;
            font-size: $fontSizeSemiMedium;
        }
        p {
            color: $gray;
        }
        .btn {
             i {
                 margin-right: $smallestSize;
             }
        }
    }
}
